"""
Secret configuration parameters for the aws_transport package
"""
CATALOG_KEY = "key_goes_here"

AWS_KEY_ID = "id_goes_here"
AWS_SECRET_KEY = "key_goes_here"

SOC_APP_TOKEN = "token_goes_here"
SOC_WRITE_AUTH = ('user_goes_here', 'password_goes_here')

KNACK_API_KEY = 'key_goes_here'
KNACK_APP_ID = 'id_goes_here'
